.container.posts {
  grid-template-columns: 1fr 0 !important;
}
.container.posts>.row {
    max-width: 100% !important;
}
#topic-title,
.topic-body,
#topic-footer-buttons,
.topic-above-suggested-outlet,
.related-messages-wrapper,
.suggested-topics-wrapper {
  width: 100% !important;
}
.topic-navigation.with-timeline {
  display: none !important;
}
