#post_1 nav.post-controls .actions button.edit {
    position: fixed !important;
    top: 80px !important;
    right: 0 !important;
    background: rgba(0,0,0,0) !important;
    box-shadow: none !important;
    padding: 30px 10px 30px 20px !important;
    margin: 0 0 0 0 !important;
}

#post_1 nav.post-controls .actions button.edit .svg-icon {
    height: 2em !important;
    width: 2em !important;
    fill: green !important;
    transform: rotate(-0.125turn) !important;
    filter: none !important;
}
